<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderPurchase">
            <h2><span>Order Purchase</span> {{orderPurchase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{orderPurchase.orderDate}}</span>
                </dd>
                <dt><span>Order Amount</span></dt>
                <dd>
                    <span>{{orderPurchase.orderAmount}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="orderPurchase.customer">
                        <a [routerLink]="['/customer', orderPurchase.customer?.id, 'view']">{{orderPurchase.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-purchase', orderPurchase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
